table {
    font-family: serif;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, caption {
    border: 2px solid #000;
    padding: 4px;
}

caption {
    border-bottom: none;
    font-weight: bold;
}

.red {
    color: red;
}